#calendar-container {
    max-width: 800px;
    margin: 2em auto;
    background-color: #161b22;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    border-bottom: 2px solid #30363d;
    padding-bottom: 0.5em;
}

#calendar-header h3 {
    font-size: 1.8em;
    color: #58a6ff;
    margin: 0;
}

#calendar-header button {
    background: none;
    border: none;
    color: #8b949e;
    font-size: 2em;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0 10px;
}

#calendar-header button:hover {
    color: #c9d1d9;
}

#calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day-name {
    font-weight: bold;
    color: #8b949e;
    text-align: center;
}

.calendar-day {
    text-align: center;
    padding: 0.8em 0;
    border-radius: 4px;
    background-color: #21262d;
    color: #c9d1d9;
    transition: background-color 0.3s ease;
    font-size: 1.1em;
}

.calendar-day:not(.empty-day):hover {
    background-color: #30363d;
    cursor: pointer;
}

.empty-day {
    background-color: #161b22;
    visibility: hidden;
}

.report-day {
    background-color: #d9534f;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}

.report-day:hover {
    background-color: #c9302c;
}

.report-info {
    margin-top: 2em;
    padding: 2em;
    background-color: #21262d;
    border-radius: 8px;
    border-left: 4px solid #58a6ff;
}

.report-info h4 {
    color: #58a6ff;
    font-size: 1.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #30363d;
    padding-bottom: 0.5em;
}

.report-info p {
    margin: 0.5em 0;
}

.report-info strong {
    color: #c9d1d9;
}

/* Estilos para los días del calendario según el tipo de informe */
.report-day.report-day-serious {
    color: #fff;
    background-color: #d9534f; /* Rojo para informes serios */
}

.report-day.report-day-mission {
    color: #fff;
    background-color: #58a6ff; /* Azul para informes de misión */
}

.report-day.report-day-technical {
    color: #161b22;
    background-color: #ffc107; /* Amarillo para informes técnicos */
}
.report-day.report-day-mixed {
    color: #fff;
    background-color: #4B0082; /* Púrpura para informes mixtos */
}
